.header {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;



    img {
        height: 30px;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 16px;
        transition: 0.3s;
        font-size: 23px;
        font-weight: 400;
        &:hover{
            color: rgb(0,190,232);
        }
    }
}