.header {
    height: 8vh;
    display: flex;
    align-items: center;

    img {
        height: 30px;
        margin-left: 25vw;
    }


    span{
        position: absolute;
        right: 25vw;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 24px;
        transition: 0.3s;
        font-size: 23px;
        font-weight: 400;
        &:hover{
            color: rgb(0,190,232);
        }
    }
}