.portfolio-header-container{
    display: flex;
    align-items: center;
    margin-left: 15vw;

    .portfolio-header{

        display: flex;
        align-items: center;
        img{
            position: absolute;
            left: 0;
            width: 5vw;
            height: 5px;
        }
    
        h3{
            color: white;
            font-size: 6em;
        }

        span{
            color: white;
        }

    }
}

/*/ ----------- PORTFOLIO PROJECTS ---------- /*/

.portfolio-projects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 4vh;


    .project{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgb(20, 29, 47);
        z-index: 0;
        height: 550px;
        width: 550px;
        border: 3px solid rgb(10, 109, 139);
        border-radius: 16px;
        margin-bottom: 24px;

        position: relative;
        

        img{
            height: 30vh;
            width: auto;
            object-fit: cover;
        }
    }
}

.green-portfolio{
    position: absolute;
    z-index: -2;
    right: 0;
}

.blue-portfolio{
    position: absolute;
    left: 0;
    z-index: -2;
}

.portfolio-line{
    z-index: -2;
}

/*/---------- PROJECT BUTTONS AREA ----------/*/

.project-buttons {
    display: none;
    position: absolute;
    top: 2vh;

    .github-button{
        background: transparent;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border: 2px solid rgb(28,230,181);
        border-radius: 10px;
        padding: 15px 30px;
        color: white;
        font-size: 23px;
        font-weight: 400px;
        line-height: 27.6px;
        transition: transform 0.15s ease;
        transform-origin: top left;
        margin-right: 24px;
        &:hover {
            cursor: pointer;
            background-color: rgb(28,230,181);
        }
    }

    .live-test-button{
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: rgb(75, 71, 255);
        border-radius: 10px;
        border: unset;
        padding: 15px 30px;
        color: white;
        font-size: 23px;
        font-weight: 400px;
        line-height: 27.6px;
        transition: transform 0.15s ease;

        &:hover {
            cursor: pointer;
            background-color: rgb(0,190,232);
        }
    }
    
}

.portfolio-projects div:hover .project-buttons {
    display: block;
}

.portfolio-projects div:hover .project-overlay{
    display: flex;
}
.portfolio-projects div img {
    transition: transform 0.3s ease;
}
   

.portfolio-projects div:hover img {
    transform: scale(1.3);
    filter: grayscale(100%);
}

.project-overlay {
    display: none;
    justify-content: center;
    flex-direction: column;
    

    background-color: white;
    color: black;

    position: absolute;
    border-radius: 16px;
    bottom: 0;

    max-width: 100%;
    padding: 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    span{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .project-title{
        font-size: 32px;
        color: #4B47FF;
        font-weight: 700;
        margin-bottom: 24px;
    }

    .project-description{
        font-size: 23px;
        margin-bottom: 24px;
    }

    .project-tools{
        font-size: 23px;
        color: #00BEE8;
    }
}



/*/ --------------------- MEDIA QUERRY ----------------/*/

@media screen and (max-width: 1100px) {
    .project{
        height: 500px !important;
        width: 500px !important;

        img{
            height: 27vh !important;
        }
    }

    .project-title{
        font-size: 24px !important;
        margin-bottom: 16px !important;
    }

    .project-description{
        font-size: 18px !important;
        margin-bottom: 16px !important;
    }

    .project-tools{
        font-size: 18px !important;
        color: #00BEE8;
    }

    .github-button{
        padding: 10px 20px !important;
    }

    .live-test-button{
        padding: 10px 20px !important;
    }
}


@media screen and (max-width: 750px) {
.portfolio-header-container{
    justify-content: center;
    margin-left: unset !important;
}

.portfolio-projects{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: unset !important;
    margin-right: unset !important;
}

.project{
    img{
        height: 25vh !important;
    }
}
}

@media screen and (max-width: 700px) {
    .portfolio-header{
        h3{
            font-size: 4.7em !important;
        }   
    }

    .portfolio-projects div:hover img {
        transform: scale(1.1) !important;
    }
}


@media screen and (max-width: 600px){
    .portfolio-header{
        h3{
            font-size: 3.7em !important;
        }   
    }


    .project{
        height: 400px !important;
        width: 400px !important;

        img{
            height: 23vh !important;
        }
    }
}

@media screen and (max-width: 500px){
    .portfolio-header {
        h3{
            font-size: 3em !important;
        }  
    }

    .project{
        height: 350px !important;
        width: 350px !important;

        img{
            height: 22vh !important;
        }
    }


    .project-title{
        font-size: 18px !important;
        margin-bottom: 8px !important;
    }

    .project-description{
        font-size: 16px !important;
        margin-bottom: 8px !important;
    }

    .project-tools{
        font-size: 16px !important;
        color: #00BEE8;
    }
}


@media screen and (max-width: 450px){
    .project{
        height: 320px !important;
        width: 320px !important;

        img{
            height: 20vh !important;
        }
    }

    .project-overlay{
        padding: 12px !important;
    }
}

@media screen and (max-width: 400px){

    .project{
        height: 350px !important;
        width: 290px !important;

        img{
            height: 20vh !important;
        }
    }

    .project-overlay{
        padding: 8px !important;
    }


    .github-button{
        padding: 8px 16px !important;
        font-size: 16px !important;
    }

    .live-test-button{
        padding: 8px 16px !important;
        font-size: 16px !important;
    }

}