<div class="portfolio-header-container" id="portfolio">

    <div class="portfolio-header">
        <div>
            <img src="assets/img/line-portfolio.png">
        </div>

        <div>
            <h3>Portfolio</h3>
        </div>
    </div>

    <img class="green-portfolio" src="assets/img/green-portfolio.png">

</div>


<div class="portfolio-projects">

    <!-- PROJECT 1 EL POLLO LOCO -->
    <div class="project">
        <img src="assets/img/portfolio1.png">
        <div class="project-buttons">
            <a href="https://github.com/MustafaSoycan/el-pollo-loco" target="_blank">
                <button class="github-button">GitHub</button>
            </a>
            <a href="elpolloloco.mustafa-soycan.com/" target="_blank">
                <button class="live-test-button">Live Test</button>
            </a>
        </div>

        <div class="project-overlay">
            <span class="project-title">El Pollo Loco</span>
    
            <span class="project-description">Jump, run and throw game based on
                object-oriented approach. Help Pepe to find coins and tabasco
                salsa to fight against the crazy hen.
            </span>
    
            <span class="project-tools">Javascript | HTML | CSS</span>
        </div>
    </div>


    <!-- PROJECT 2 JOIN -->
    <div class="project">
        <img src="assets/img/portfolio2.png">
        <div class="project-buttons">
            <a href="https://github.com/MustafaSoycan/Join" target="_blank">
                <button class="github-button">GitHub</button>
            </a>
            <a href="join.mustafa-soycan.com/" target="_blank">
                <button class="live-test-button">Live Test</button>
            </a>
        </div>

        <div class="project-overlay">

            <span class="project-title">Join</span>
    
            <span class="project-description">Task manager inspired by the Kanban System. Create
                and organize tasks using drag and drop functions, assign users and categories.
            </span>
    
            <span class="project-tools">Javascript | HTML | CSS</span>
        </div>
    </div>

    

    <img class="blue-portfolio" src="assets/img/blue-portfolio.png">
</div>