<img class="name-blue" src="/assets/img/blue.png" alt="this is a image of my background design">
<img class="name-green" src="/assets/img/green.png" alt="this is a image of my background design">

<div class="name-area" id="name-area">
    <div class="iam-area">
        <span class="i-am typewriter">I am</span>
    </div>

    <div class="name">
        <span class="mustafa-soycan typewriter">Mustafa Soycan</span>
        <span class="frontend-developer">Frontend Developer</span>
    </div>
</div>

<div class="button">
    <a href="#contact">
        <button class="lets-talk-button">Let's talk!</button>
    </a>
</div>


