<div class="skills-area" id="skills">



    <div class="skills-info-container">
        <div class="skills-header">
            <h3>SKILLS</h3>
            <img class="skills-line" src="assets/img/line-skills.png">
        </div>

        <div class="skills-statement">
            I have gained experience in building projects with various front end technologies and concepts.
        </div>

        <div>
            <a href="#contact">
                <button class="get-in-touch-button">Get in touch</button>
            </a>

        </div>
    </div>





    <div class="skills-container">

        <div class="row-1">
            <span class="javascript">
                <img src="assets/img/javascript.png" alt="">
                Javascript
            </span>


            <span>
                <img src="assets/img/angular.png" alt="">
                Angular
            </span>

            <span>
                <img src="assets/img/typescript.png" alt="">
                Typescript
            </span>

            <span>
                <img src="assets/img/html.png" alt="">
                HTML
            </span>
        </div>

        <div class="row-2">
            <span>
                <img src="assets/img/git.png" alt="">
                GIT
            </span>

            <span>
                <img src="assets/img/firebase.png" alt="">
                Firebase
            </span>

            <span>
                <img src="assets/img/css.png" alt="">
                CSS
            </span>
        </div>

        <div class="row-3">
            <span>
                <img src="assets/img/scrum.png" alt="">
                Scrum
            </span>

            <span>
                <img src="assets/img/api.png" alt="">
                Rest-Api
            </span>
        </div>

        <div class="row-4">
            <span>
                <img src="assets/img/materialdesign.png" alt="">
                Material<br>
                design
            </span>
        </div>
    </div>


</div>


<!-- SKILLS ICONS MOBILE VERSION -->

<div class="skills-area-mobile">

    <!--- FIRST ROW MOBILE -->
    <div class="row-1">
        <span>
            <img src="assets/img/javascript.png" alt="">
            Javascript
        </span>


        <span>
            <img src="assets/img/angular.png" alt="">
            Angular
        </span>
    </div>

    <!--- SECOND ROW MOBILE -->
    <div class="row-1">
        <span>
            <img src="assets/img/typescript.png" alt="">
            Typescript
        </span>


        <span>
            <img src="assets/img/html.png" alt="">
            HTML
        </span>
    </div>

    <!--- THIRD ROW MOBILE -->
    <div class="row-1">
        <span>
            <img src="assets/img/git.png" alt="">
            GIT
        </span>


        <span>
            <img src="assets/img/firebase.png" alt="">
            Firebase
        </span>
    </div>

    <!--- FOURTH ROW MOBILE -->
    <div class="row-1">
        <span>
            <img src="assets/img/css.png" alt="">
            CSS
        </span>


        <span>
            <img src="assets/img/scrum.png" alt="">
            Scrum
        </span>
    </div>

    <!--- FIFTH ROW MOBILE -->
    <div class="row-1">
        <span>
            <img src="assets/img/api.png" alt="">
            Rest-Api
        </span>


        <span>
            <img src="assets/img/materialdesign.png" alt="">
            Material <br> design
        </span>
    </div>
</div>