.skills-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 15vw;
    margin-right: 15vw;

    .skills-info-container {



        .skills-header {
            display: flex;
            align-items: center;
            color: white;

            h3 {
                font-size: 6em;
                margin-right: 2vw;
            }

            img {
                width: 18vw;
                height: 5px;
                position: absolute;
                right: 0;
            }
        }


        .skills-statement {
            color: white;
            margin-bottom: 2vh;
        }


        .get-in-touch-button {
            background: #00BEE8;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            padding: 15px 30px;
            color: white;
            font-size: 23px;
            font-weight: 400px;
            line-height: 27.6px;
            border: unset;
            transition: transform 0.15s ease;
            transform-origin: top left;


            &:hover {
                cursor: pointer;
                background-color: rgb(75, 71, 255);
                transform: scale(1.1);
            }
        }
    }
}

.skills-line {
    z-index: -2;
}


.skills-container {
    margin-top: 25vh;

    img {

        transition: transform 0.2s ease;

        &:hover {
            transform: translateY(-10px);
        }
    }
}

.row-1,
.row-2,
.row-3,
.row-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 6vh;
}

.row-1 span,
.row-2 span,
.row-3 span,
.row-4 span {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 5vw;

    img {
        margin-bottom: 1vh;
    }
}


/*/------------------ SKILL ICONS MOBILE VERSION-------/*/

.skills-area-mobile {
    display: none;
    margin-top: 9vh;
}


/*/ --------------------- MEDIA QUERRY ----------------/*/

@media screen and (max-width: 1300px) {
    .skills-area {
        display: block;
    }

    .skills-container {
        margin-top: 15vh;
    }
}

@media screen and (max-width: 750px) {
    .skills-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // MOBILE SKILLS AREA
    .skills-area-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    // DISPLAY NONE ORIGINAL SKILLS AREA
    .skills-container {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .skills-header {
        h3 {
            font-size: 4.7em !important;
        }
    }
}


@media screen and (max-width: 600px) {
    .skills-header {
        h3 {
            font-size: 3.7em !important;
        }
    }
}


@media screen and (max-width: 500px) {
    .skills-header {
        h3 {
            font-size: 3em !important;
        }
    }
}