
<div class="footer-line-top">
<img src="assets/img/line-contacts.png" alt="line">
</div>

<div class="footer-container">
    <div class="impressum">
    <img src="assets/img/mustafasoycanlogo.png">
    <span>impressum</span>
    </div>

    <div class="copyright">
    © Mustafa Soycan
    </div>


    <div class="social-media">
        <a href="https://github.com/MustafaSoycan" target="_blank">
            <img src="/assets/img/github-icon.png">
            </a>
        
            <a href="#">
            <img src="/assets/img/email-icon.png">
            </a>
        
            <a href="https://linkedin.com/in/mustafa-soycan-a016b3236/" target="_blank">
            <img src="/assets/img/linkedin-icon.png">
            </a>
    </div>
</div>