.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        color: white;
        font-size: 6em;
    }

    img {
        position: absolute;
        right: 0;
        width: 20vw;
        height: 5px;
    }
}

.problem-to-solve {
    display: flex;
    align-items: center;
    margin-left: 15vw;

    h4 {
        font-size: 32px;
        color: white;
    }

    img {
        position: absolute;
        left: 0;
        width: 6vw;
        height: 5px;
    }

    span {
        color: white;
    }
}


.contact-container {
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    color: white;

    span {
        margin-bottom: 4vh;
        max-width: 400px;
    }
}


.blue-contact {
    position: absolute;
    right: 0;
}

.contact-line {
    z-index: -2;
}

.contact-left-side {
    margin-bottom: 20vh;
}

.contact-right-side {
    margin-top: 13vh;
    margin-left: 4vw;
    z-index: 0;
}


.contact-formular {
    margin-right: 15vw;
    margin-bottom: 10vh;
    padding-bottom: 10vh;

    .input {
        display: flex;
        justify-content: center;
    }

    .input input {
        padding: 15px 25px;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        width: 500px;
        background-color: rgb(20, 29, 47);
        margin-bottom: 35px;
        color: white;

        &::placeholder {
            color: white;
        }

        &:hover {
            cursor: pointer;
            border: 1px solid rgb(24, 129, 114);
        }
    }

    .input .message {
        height: 10vh;
    }
}

.send-message-button-container {
    display: flex;
    justify-content: center;


    .send-message-button {
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 15px 30px;
        color: white;
        font-size: 23px;
        font-weight: 400px;
        line-height: 27.6px;
        border: unset;
        transition: transform 0.15s ease;
        transform-origin: top;


        &:hover {
            cursor: pointer;
            background-color: rgb(75, 71, 255);
            transform: scale(1.1);
        }
    }

}

.contact-blue-effect {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1
}

.back-to-top {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 15vw;
    bottom: 2vh;
    

    .arrow-circle {
        border: 2px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        opacity: 1;

        &:hover {
            opacity: 0.3;
            cursor: pointer;
        }

    }
}

/*/ CONTACT FORMULAR VALID/INVALID /*/


.valid {
    border: 1px solid green;
}

.invalid {
    border: 1px solid red;
}


/*/ --------------------- MEDIA QUERRY ----------------/*/

@media screen and (max-width: 1450px) {
    .contact {
        flex-direction: column;
    }

    .problem-to-solve {
        margin-left: unset !important;
    }

    .contact-container {
        margin-left: unset !important;
    }

    .contact-formular {
        margin-right: unset !important;
    }

    .contact-right-side {
        margin-left: unset !important;
    }

    .contact-left-side{
        margin-bottom: unset !important;
    }

}


@media screen and (max-width: 750px) {

    .input {
        width: 400px !important;
    }

    .contact-container {
        margin-left: 5vw !important;
        margin-right: 5vw !important;
    }

    .problem-to-solve {
        justify-content: center;
    }

}


/*/ FONT SIZE /*/

@media screen and (max-width: 700px) {
    .contact-header {
        h3 {
            font-size: 4.7em !important;
        }
    }
}


@media screen and (max-width: 600px) {
    .contact-header {
        h3 {
            font-size: 3.7em !important;
        }
    }

    .input {
        width: 350px !important;
    }

    .contact-line{
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .contact-header {
        h3 {
            font-size: 3em !important;
        }
    }

    .input {
        width: 300px !important;
    }
}


@media screen and (max-width: 420px) {
    .input {
        width: 300px !important;
    }
}