body{
    margin: 0;
    font-family: 'Poppins';
    background-color: rgb(20, 29, 47);
}

html, body{
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf') format("opentype");
  }

  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(75,71,255);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(83, 155, 248);
  }