body{
    margin: 0;
    font-family: 'Poppins';
    background-color: rgb(20, 29, 47);
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf') format("opentype");
  }