.about-me-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 10vh;
    margin-bottom: 20vh;
    position: relative;

    .about-me {
        display: flex;
        flex-direction: column;
    }

    .point-1 {
        display: flex;
        flex-direction: column;
        z-index: 0;
        .about-me-title {
            font-size: 6em;
        }

        color: white;
        margin-bottom: 5vh;
    }

    .point-2 {
        display: flex;
        align-items: center;
        color: white;
        margin-bottom: 2vh;
        z-index: 0;
        img {
            object-fit: contain;
            height: 5vh;
            margin-right: 24px;
        }
    }

    .point-3 {
        display: flex;
        align-items: center;
        color: white;
        z-index: 0;
        img {
            object-fit: contain;
            height: 5vh;
            margin-right: 24px;
        }
    }
}



.my-image {
    display: flex;
    align-items: center;
    margin-left: 4vw;

  
    .purple-about-me {
        position: absolute;
        right: 30vw;
        z-index: -2;
    }

    .green-about-me{
        z-index: -2;
    }

    .portfolio-image {
        position: absolute;
        bottom: 0;

        height: 75vh;
        z-index: -1;
    }
}

/*/ --------- BACKGROUND IMAGE ABOUT ME --------- /*/


.about-me-background{
    position: absolute;
    top: 100vh;
    width: 100%;
    z-index: -1;
}

/*/ --------------------- MEDIA QUERRY ----------------/*/

@media screen and (max-width: 1690px) {
    .about-me-container {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-me{
        max-width: unset !important;
        margin-top: 5vh;
    }

    .my-image{
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .portfolio-image{
        height: 45vh !important;
    }
}

@media screen and (max-width: 700px) {
    .portfolio-image{
        height: 40vh !important;
    }

    .about-me-title{
        font-size: 4.7em !important;
    }
}


@media screen and (max-width: 600px){
    .about-me-title{
        font-size: 3.7em !important;
    }
}

@media screen and (max-width: 500px){
    .about-me-title{
        font-size: 3em !important;
    }
}

