<div class="about-me-container">
    <div class="about-me">

        <span class="span about-me-title">ABOUT ME</span>

        <span class="span">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
             Necessitatibus illum error saepe, optio corporis nam velit est eaque. <br>
             Dignissimos fugiat incidunt ullam consequuntur consequatur distinctio dolores<br>
              amet cumque, eligendi omnis.
        </span>

        <span class="span">
            <img src="assets/img/puzzle-logo.png">
            Lorem ipsum dolor sit, amet consectetur adipisicing eli<br>
            . Assumenda quibusdam facere numquam commodi, tempora odit volup<br>
            tatum maiores nam nesciunt porro, dolore, sapiente minima nulla nihi
            l aliquid recusandae cum ab quos.
        </span>

        <span class="span">
            <img src="assets/img/light-logo.png">
            Lorem ipsum dolor sit amet c
            onsectetur adipisicing elit. Quis incidunt ipsum fugiat debitis e<br>
            nim modi aspernatur ut, voluptatum ab eum, aperiam minima deserunt <br>
            onsequuntur error et explicabo delectus, eaque nulla
        </span>

    </div>


    <div class="portfolio-image">
        <img src="/assets/img/portfolioimage.png">
    </div>
</div>