<div class="about-me-content" id="about-me">

    <div class="about-me-container">

        <div class="my-image">
            <img class="green-about-me" src="/assets/img/green-about-me.png">
            <img class="portfolio-image" src="/assets/img/portfolioimage2.png">
            <img class="purple-about-me" src="/assets/img/purple-about-me.png">
        </div>


        <div class="about-me">
            <span class="point-1">
                <span class="about-me-title">ABOUT ME</span>
                Hello, I'm Mustafa Soycan, a Junior Frontend Developer from Karlsruhe.
                With a lifelong passion for computers, I've chosen to turn my hobby into
                a profession. My main focus is on crafting beautiful user interfaces and
                providing added value to the IT industry.Let's collaborate and create
                something remarkable together.
            </span>

            <span class="point-2">
                <img src="assets/img/puzzle-logo.png">
                I have always been deeply fascinated by computers and had my first encounters
                with the IT world at a young age. As I grew older, I realized that turning my
                hobby into a profession was the perfect way to combine my passion with my career.
            </span>

            <span class="point-3">
                <img src="assets/img/light-logo.png">
                I would be a valuable asset to any employer because of my strong commitment
                to continuous learning and staying updated with the latest trends in frontend
                development. My dedication to delivering high-quality work, attention to detail,
                and ability to collaborate effectively in a team environment make me an ideal
                candidate for creating exceptional user experiences and driving the success of web projects.
            </span>
        </div>


    </div>

    <div class="background-vector">
        <img class="about-me-background" src="assets/img/vector.png">
    </div>
</div>