<div class="about-me-container" id="about-me">

    <div class="about-me">


        <span class="point-1">
            <span class="about-me-title">ABOUT ME</span>
            Als Frontend-Entwickler liebe ich das Coden seit meiner Kindheit.
            Ich erstelle beeindruckende Benutzeroberflächen und löse komplexe Probleme,
            um intuitive Nutzererfahrungen zu schaffen. Meine Leidenschaft treibt mich dazu an,
            innovative Lösungen zu entwickeln und die Grenzen des Webdesigns zu erweitern.
        </span>

        <span class="point-2">
            <img src="assets/img/puzzle-logo.png">
            Warum ich damit angefangen habe:
            Schon als Kind hat mich die Faszination für Technologie und Programmierung ergriffen. Das Entdecken der
            Möglichkeiten und das Experimentieren mit Code haben mich dazu inspiriert, Frontend-Entwickler zu werden.
            Der Wunsch, etwas zu erschaffen und Menschen mit meinen digitalen Kreationen zu begeistern, hat mich dazu
        </span>

        <span class="point-3">
            <img src="assets/img/light-logo.png">
            Warum ich ein guter Arbeiter wäre:
            Als Frontend-Entwickler zeichne ich mich durch meine Kreativität, Präzision und Problemlösungsfähigkeiten
            aus. Ich bin stets bestrebt, ansprechende Benutzererfahrungen zu schaffen und mich mit den neuesten
            Technologien und Trends auf dem Laufenden zu halten. Meine Leidenschaft für das Coden treibt mich dazu an,
        </span>
    </div>


    <div class="my-image">
        <img class="green-about-me" src="/assets/img/green-about-me.png">
        <img class="portfolio-image" src="/assets/img/portfolioimage.png">
        <img class="purple-about-me" src="/assets/img/purple-about-me.png">
    </div>
</div>